<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="destination" value="/logs/recertification/" />
    <property scope="context" name="principal-pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %p %C:%M:%L - %m%n" />
       
       <appender name="screen" class="ch.qos.logback.core.ConsoleAppender">
           <encoder>
               <pattern>${principal-pattern}</pattern>
           </encoder>
       </appender>
      
       <appender name="consola" class="ch.qos.logback.core.rolling.RollingFileAppender">
           <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
               <fileNamePattern>${destination}/recertification.%d{yyyy-MM-dd}.log</fileNamePattern>
           </rollingPolicy>     
          <encoder>
              <pattern>${principal-pattern}</pattern>
          </encoder>
       </appender>
      
       <logger name="com.truper.recertification" additivity="false" level="info">
          <appender-ref ref="consola" />
          <appender-ref ref="screen" />
      </logger>
     
      <!-- -->
      <logger name="org.apache" additivity="false" level="info">
          <appender-ref ref="screen" />
          <appender-ref ref="consola" />
      </logger>
     
      <logger name="org.springframework" additivity="false" level="info">
          <appender-ref ref="screen" />
          <appender-ref ref="consola" />
      </logger>
     
      <logger name="org.hibernate" additivity="false" level="info">
          <appender-ref ref="screen" />
          <appender-ref ref="consola" />
      </logger>
     
   <root level="OFF" />
</configuration>